@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/* Common styling */
.grey {
  color: #666;
}

.cap {
  text-transform: capitalize;
}

.up {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.transition {
  transition: 1s all ease;
}

/*for container*/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*position: relative;*/
}

.container {
  width: 30%;
  height: 630px;
  bottom: 0;
  margin: 2% 0;
  overflow: hidden;
  border: 1px solid #6C5E55;
  background-image: url(/assets/Images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  background: transparent;
}

/*=================================
  Header styling starts here
=================================*/
header {
  background: transparent;
  /* position: absolute;
  top: 0;
  left: 35%;
  right: 20%;
  width: 30%;*/
  margin: 2% 0;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0;
  background: transparent;
}

header .wrapper {
  background: transparent;
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
main,
section {
  background: transparent;
  height: 100%;
  width: 100%;
}

main>section .wrapper {
  width: 100%;
  height: 100%;
  background: transparent;
  position: relative;
}

/*styling for table start here*/
.table-img {
  width: 100%;
  height: 40%;
  bottom: -6%;
  animation-name: table-fade-in;
  animation-duration: 1s;
  position: absolute;
}

.table-img>img {
  width: 100%;
  height: 50%;
}

@keyframes table-fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

.animation-main {
  width: 100%;
  height: 100%;
  background: transparent;
  position: relative;
}

.bs-heading {
  position: absolute;
  color: #F00;
  width: 100%;
  text-transform: capitalize;
  font-size: 40px;
  text-align: center;
  left: -75%;
  right: 20%;
  animation-name: bs-heading-slide;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-delay: 2s;
}

.heading-break::before {
  content: "\a";
  white-space: pre;
}

.sad-sonali {
  position: absolute;
  width: 60%;
  right: -60%;
  bottom: 32%;
  animation-name: sad-sonali-slide;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-delay: 2s;
}

.plate {
  position: absolute;
  width: 78%;
  bottom: 20%;
  left: -85%;
  animation-name: plate-slide;
  animation-duration: 4.3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.bgs-headings {
  position: absolute;
  color: #F00;
  width: 100%;
  text-transform: capitalize;
  font-size: 40px;
  text-align: center;
  left: -85%;
  right: 20%;
  animation-name: bgs-heading-slide;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-delay: 7s;
  animation-fill-mode:forwards;
}

.happy-sonali {
  position: absolute;
  width: 60%;
  right: -60%;
  bottom: 34%;
  animation-name: happy-sonali-slide;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-delay: 7s;
  animation-fill-mode: forwards;
}

.sandwich-lb {
  position: absolute;
  width: 75%;
  bottom: 20%;
  left: -75%;
  animation-name: lb-slide;
  animation-duration: 8s;
  animation-timing-function: ease;
  animation-delay: 4.4s;
  animation-fill-mode: forwards;
}

.sandwich-f {
  position: absolute;
  width: 45%;
  bottom: 25%;
  left:-50%;
  animation-name: f-slide;
  animation-duration: 8s;
  animation-timing-function: ease;
  animation-delay: 4.4s;
  animation-fill-mode: forwards;
}

.sandwich-up {
  position: absolute;
  width: 46%;
  bottom: 29%;
  left: -50%;
  z-index: 1;
  animation-name: ub-slide;
  animation-duration: 8s;
  animation-timing-function: ease;
  animation-delay: 4.4s;
  animation-fill-mode: forwards;
}

.knife {
  visibility: hidden;
  position: absolute;
  width: 35%;
  bottom: 28%;
  left: 1%;
  z-index: 1;
  transform: rotateZ(-52deg);
  animation-name: knife-slide;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 5.5s;
}

.mayo-layer {
  visibility: hidden;
  position: absolute;
  width: 46%;
  bottom: 28%;
  left: -1%;
  animation-name: mayo-visibility;
  animation-duration: 8.5s;
  animation-timing-function:ease;
  animation-delay: 3.9s;
  animation-fill-mode: forwards;
}

.ffms-heading {
  position: absolute;
  color: #F00;
  width: 100%;
  text-transform: capitalize;
  font-size: 35px;
  text-align: center;
  left: -95%;
  right: 0;
  animation-name: ffms-heading-slide;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-delay: 9.5s;
  animation-fill-mode: forwards;
}

.chef {
  position: absolute;
  width: 60%;
  right: -60%;
  bottom: 34%;
  animation-name: chef-slide;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-delay: 9.5s;
  animation-fill-mode: forwards;
}

.fmdm-headings {
  position: absolute;
  color: #F00;
  width: 100%;
  text-transform: capitalize;
  font-size: 40px;
  text-align: center;
  top: 2%;
  left: -85%;
  animation-name: fmdm-heading-slide;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-delay: 12s;
  animation-fill-mode: forwards;

}

.get-recipe a {
  font-size: 20px;
  color: #FFF;
  text-transform: capitalize;
  background-color: #5D3D5E;
  padding: 10px;
  border: 1px solid #5D3D5E;
  border-radius: 4px;

}

.get-recipe {
  position: absolute;
  width: 100%;
  left: -40%;
  top: 20%;
  animation-name: get-recipe-slide;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 13s;
  animation-fill-mode: forwards;
}

.chef-hat {
  position: absolute;
  width: 42%;
  z-index: 1;
  left: -45%;
  top: 18%;
  animation-name: chef-hat-slide;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 12.5s;
  animation-fill-mode: forwards;
}

.mayo-bottel {
  position: absolute;
  width: 35%;
  bottom: 21%;
  left: 105%;
  animation-name: mayo-bottel-slide;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-delay: 12s;
  animation-fill-mode: forwards;
}

@keyframes plate-slide {
  0% {
    left: -85%;
  }

  10% {
    left: -10%;
  }

  90%{
    left: -10%;
  }

  100% {
    left: -85%;
  }
}

@keyframes sad-sonali-slide {
  0% {
    right: -60%;
  }

  10% {
    right: 0;
  }

  90% {
    right: 0;
  }

  100% {
    right: -60%;
  }
}

@keyframes bs-heading-slide {
  0% {
    left: -75%;
  }

  10%{
    left: 0;
  }

  90% {
    left: 0;
  }

  100% {
    left: -75%;
  }
}

@keyframes lb-slide {
  0% {
    left: -75%;
  }

  10%{
    left:-15%;
  }

  90% {
    left: -15%;
  }

  100% {
    left: -75%;
  }
}

@keyframes f-slide {
  0% {
    left: -50%;
  }

  10% {
    left: -1%;
  }

  90% {
    left: -1%;
  }

  100% {
    left: -50%;
  }
}

@keyframes ub-slide {
  0% {
    left: -50%;
    bottom: 29%;
  }

  10%{
    left: -1%;
    bottom: 29%;
  }

  15%{
    left: -1%;
    bottom: 35%;
  }

  30% {
    left: -1%;
    bottom: 35%;
  }

  31%{
    left: -1%;
    bottom: 29%;
  }

  90% {
    left: -1%;
    bottom: 29%;
  }

  100% {
    left: -50%;
    bottom: 29%;
  }
}

@keyframes knife-slide {
  0% {
    left: 1%;
    visibility: hidden;
  }

  10%{
    left: 1%;
    visibility: visible;
  }

  100% {
    left: 28%;
    visibility: hidden;
  }
}

@keyframes mayo-visibility {
  0% {
    visibility: hidden;
    opacity: 0;
    left: -50%;
  }

  10%{
    visibility: visible;
    opacity: 0;
    left: -1%;
  }

  47% {
    visibility: visible;
    opacity: 1;
    left: -1%;
  }

  90% {
    visibility: visible;
    opacity: 1;
    left: -1%;
  }

  100% {
    visibility: visible;
    opacity: 1;
    left: -50%;
  }
}

@keyframes happy-sonali-slide {
  0% {
    right: -60%;
  }

  10% {
    right: 0;
  }

  90% {
    right: 0;
  }

  100% {
    right: -60%;
  }
}

@keyframes bgs-heading-slide {
  0% {
    left: -85%;
  }

  10%{
    left: 0;
  }

  90% {
    left: 0;
  }

  100% {
    left: -85%;
  }
}

@keyframes chef-slide {
  0% {
    right: -60%;
  }

  10% {
    right: 0;
  }

  90% {
    right: 0;
  }

  100% {
    right: -60%;
  }
}

@keyframes ffms-heading-slide {
  0% {
    left: -95%;
  }

  10% {
    left: 0;
  }

  90% {
    left: 0;
  }

  100% {
    left: -95%;
  }
}

@keyframes mayo-bottel-slide {
  0%{
    left: 105%;
  }

  10% {
    left: 33%;
  }

  100%{
    left: 33%;
  }
}

@keyframes fmdm-heading-slide {
  0% {
    left: -85%;
  }

  10% {
    left: 0;
  }

  100% {
    left: 0;
  }
}

@keyframes chef-hat-slide {
  0%{
    left: -45%;
    top: 18%;
  }

  10%{
    left: 36%;
    top: 18%;
  }

  50%{
    left: 36%;
    top: 31%;
  }

  90%{
    left: 36%;
    top: 31%;
  }

  100%{
    left: 36%;
    top: 31%;
  }
}

@keyframes get-recipe-slide{
  0%{
    left: -40%;
    top: 2%;
  }

  30%{
    left: -10%;
    top: 3%;
  }

  70% {
    left: 35%;
    top: 20%;
  }

  100%{
    left: 35%;
    top: 20%;
  }
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/







/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {}